body{
  background-color: #15101b;
  overflow: hidden;
}


.App {
  background-color: rgb(21, 16, 27);
}



.App-header {
  background-color: #15101b;
  border-bottom: 1px solid #3b3741;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 0;

}

.App-side-Right {
 padding: 20px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 background: linear-gradient(135deg, rgb(21, 16, 27, 0.85), rgb(21, 16, 27, 1)),
             url('./img/launchpadrocket.png') no-repeat center / cover ;
}

.cont{
  width: 520px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.text{
  color: #fff;
  font-size: 24px;
}

.icons-text{
  color: #fff;
  padding: 10px;
  font-size: 34px;
}



.button-connect{
  display: inline-block;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 28px;
  border: 1px solid #3b3741;
  box-sizing: border-box;
  background: linear-gradient(1turn,#151416 4.44%,#1d1d1d);
  color: #fff;
}

.App-link {
  color: #61dafb;
}

.hold-contain{
  display: grid;
  grid-template-columns: 20% 80%;
}


.hold-contain-nactive {
  display: grid;
  grid-template-columns: 7% 93%;

}

.hold-contain-nactive-mobile {
  display: grid;
  grid-template-columns: 10% 90%;

}


.App-side-Right{
  width: 100%;
  border-left: 1px solid #3b3741;
  color: #fff;
  /* padding-left: 0; */
  /* padding-top: 20px; */
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 91vh;
  padding: 28px;
  grid-gap: 20px;
  display: flex;
  flex-direction: column;
  gap: 47px;
}

.App-side-Left {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-left{
  border-bottom: 1px solid #3b3741;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-contain-nactive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.nav-contain-nactive  .list {
  display: flex;
  flex-direction: column;
  grid-gap: 13px;
  gap: 53px;
}


.links {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.launching_tokens {
  padding: 45px;
}


#created-html {
    padding: 5px;
    border: 1px solid #3b3741 !important;
    cursor: pointer;
    font-size: 13px;
}


#created-html-2 {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}



.toast {
  position: absolute;
}



#table-fix {
  border-spacing: 0px 10px;
  color: #FFFFFF;
}



#table-fix td {
  border: none !important;
  color: #FFFFFF;
  padding-top: 22px;
}



#inside-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#inside-inside-div {
  width: 20%;
  display: flex;
}

#inside-inside-div .avatars {
  display: flex;
  align-items: center;
  margin-right: 23px;
}

.avatars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}



.avatars .avatar {
    width: 4.5rem;
    height: 4.5rem;
    -webkit-box-shadow: 0px 17px 13px 0px #192c4b05;
    box-shadow: 0px 17px 13px 0px #192c4b05;
    border-radius: 50% !important;
    border: 3px solid #fff;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}



.otherinfocontainer {
  display: flex;
  justify-content: space-between;
  width: 72%;
  align-items: center;
  font-size: 12px;
  /* margin-right: 31px; */
  margin-right: 0px;
  padding-right: 85px;
}



.otherinfocontainer-two {
  display: flex;
  justify-content: space-between;
  width: 72%;
  align-items: center;
  font-size: 12px;
  /* margin-right: 31px; */
  margin-right: 0px;
  padding-: 0px 10px;
  padding: 0px 65px;
  margin-left: 22px;
}




.infoothers {

}



.avatars .avatars_name {
  font-weight: 300;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.avatars .avatar.avatar-sm {
  width: 2rem;
  height: 2rem;
}

.txt_sm {
  font-size: 12px;
}

.card .card-body{
  background-color: #100C14;
  border: none;
}

.button {
  background-color: #E37400;
  border: none;
  color: #000;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #BE6507;
}


.pagin{
  margin-top: 15px;
  width: 100%;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.pagination > li {
  cursor: pointer;
}

.pagination > li > a {
  background-color: #15101b;
  color: #BE6507;
}


.pagination > li > a:hover {
  background-color: #15101b;
  color: #A85A09;
}



.listed-tokens {
  margin-top: 50px;
  padding: 30px;
  background-color: rgb(25 19 32 / 75%);
  border-radius: 10px;
}

.listed-tokens .listed-tokens-hold {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 40vh;
  overflow-y: scroll;
  padding: 20px;
}

.listed-tokens a {
  text-decoration: none;
}


.choosechain {
  border: 1px solid #3b3741;
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.choosechain span{
}



.footer {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3b3741;
  margin-top: 20px;
  box-sizing:border-box;
}


.nav-contain {
  display: flex;
  justify-content: center;
  margin-top: 98px;
}


.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 13px;
  gap: 13px;
  width: 100%;
  padding-top: 30px;
  color: #fff;
  list-style-type: none;
}


.left-contains {
  display: flex;
  cursor: pointer;
  width: 90%;
  justify-content: center;
}



.left-contains :hover {
  cursor: pointer;
  width: 90%;
  background-color: #191320;
  text-align: center;
}


.left-contains p {
  padding-left: 19px;
}




.header-welcome {

  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
  padding-left: 42px;
  margin-bottom: 50px;

}



.other-options {
  display: flex;
  justify-content: flex-start;
}



.header-welcome-options {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 13px;
  margin-right: 10px;
}



.contains_toknes-and-votes {
  display: flex;
  justify-content: space-between;
  padding: 0 54px;
}





.more-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.more-container-admintwo {
  display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}




.token-logo {
  width: 16%;
  border-radius: 100%;
  padding: 0;
  margin: 0;
}


.token-logo img {
  width: 100%;
  height: auto;
}


.header-logo {
  display: flex;
  justify-content: space-evenly;
  background: #191320;
  width: 40%;
  height: 122px;
  align-items: center;
  border-radius: 12px;
}



.header-logo-admin {
  display: flex;
  justify-content: space-evenly;
  background: #FFFFFF;
  width: 70%;
  height: 122px;
  align-items: center;
  border-radius: 12px;
}




.token-socials {
  background: #191320;
  width: 204px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 37px;
  border-radius: 5px;
  font-size: 18px;
}


.token-body-section {
  display: flex;
  margin-top: 35px;
  justify-content: space-evenly;
}




.details-section {
  background: #191320;
  border-radius: 10px;
  padding: 18px;
}




.right-section {
  padding: 13px;
  display: flex;
  flex-direction: column;
  gap: 53px;
}



.right-section .website {
  font-size: 12px;
  background: #191320;
  height: 30px;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
}


.right-section .launched-date {
  background: #191320;
  display: flex;
  padding: 5px;
  border-radius: 3px;
  width: 175px;
}

.voteclass {
  cursor: pointer;
}


.right-section .launched-date-vote {
  background: #191320;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
  width: 176px;
}



.contain-socialsandcontract address {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
}

.ourlisted {
  margin-top: 30px;
  margin-bottom: 100px;
}




.admin-container {
  display: flex;
  width: 100%;
  height: 100vh;
  /* background: green; */
  justify-content: center;
  align-items: center;
}

.loginForm1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  border-radius: 15px;
  padding: 20px;
  gap: 10px;
  height: 300px;
  position: relative;
}





.loginFormthree {
  width: 50%;
  height: 120px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  /* border-radius: 15px; */
  /* padding: 20px; */
  /* position: relative; */
  background: #fff;
  font-family: 'Space Grotesk', sans-serif;
  /* box-shadow: inset 4px 4px 4px rgb(255 255 255 / 15%), inset -4px -4px 4px rgb(245 245 245 / 11%); */
  /* box-shadow: inset 4px 4px 4px rgb(255 255 255 / 15%), inset -4px -4px 4px rgb(245 245 245 / 11%); */
}





.inputCover1 {
  background: #fff;
  width: 40%;
  height: 41px;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
}

.inputCover1 input {
  background: transparent;
  border: none;
  outline: none;
  width: 85%;
}



.container-for-insideForm1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 61px;
}


.leftside-pc {
  background: #D7D7D7;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #fff;
  padding: 10px;
}


.right-side {
  background: #D7D7D7;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 100px;
}


.overall {
  height: 100vh;
  margin-top: 0px;
  overflow-y: scroll;
  /* padding-top: 50px;*/
}


.contain-section {
  width: 100%;
  height: 100%;
}


.admin-header {
  height: 10%;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  align-items: center;
}


.leftside-menu {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: #fff;
  margin-left: 5px;
  border-radius: 5px;
  padding-top: 20px;
}

.each-left {
  padding: 10px;
  cursor: pointer;
}

.each-left-active {
  background: #7E62FD;
  padding: 10px;
  cursor: pointer;
}



.loginForm2 {
  width: 75%;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  background: #fff;
  font-family: 'Space Grotesk', sans-serif;
  /* background: linear-gradient(116.29deg, rgba(255, 255, 255, 0.35) -29.94%, rgba(255, 255, 255, 0.26) -29.93%, rgba( 255,255, 255, 0.1) 101.76%); */
  box-shadow: inset 4px 4px 4px rgb(255 255 255 / 15%), inset -4px -4px 4px rgb(245 245 245 / 11%)
}



.inputCover2 {
  background: #D7D7D7;
  width: 40%;
  height: 41px;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
}

.inputCover2 input {
  background: transparent;
  border: none;
  outline: none;
  width: 85%;
}



.container-for-insideForm2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 61px;
}


.submit-button{
  cursor:'pointer'
}



.ama-cover-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: unset;
    font-size: 15px;
}


.ama-cover {
  background-color: #191320;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 10px;
}


.ama-cover-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  padding: 12px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #F3CB78, #CE6117);
}



.ama-cover-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  padding: 12px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #49D2E5, #17779A);
}




.ama-cover-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  padding: 12px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #B277E5, #4C227E);
}




.first-contain {
  display: flex;
  justify-content: space-evenly
}


.second-contain{
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}



.timer-container {
  display: flex;
  width: 50%;
}


.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 17px;
    background-color: blue;
}

.contain-count p {
  margin: 0;
  padding: 0;
  font-size: 21px;
  text-align: center;
}


.contain-count small {
font-size: 12px;
}



.contain-count {
  padding: 7px;
  display: flex;
  flex-direction: column;
  line-height: 17px;
}


.ama-vote-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.ama-vote-count {
  padding-left: 10px;
}




.launched-date-contract {
  display: flex;
  justify-content: flex-start;
  padding: 25px 0px;
}


.amamain-contain {
  margin-right: 5px;
  display: flex;
  width: 50%;
}




.head-seperate {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}





.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}





.maincontent-container{
  width: 428px;
  height: 348px;
  padding: 20px;
  background-color: rgb(25 19 32 / 75%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
  border-radius: 15px;
  gap: 15px;
}

.header {
  margin: 0;
  padding: 0;
}


.inputform {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 0px 3px 12px;
  width: 100%;
  gap: 20px;
  height: 50px;
  background: #1B1D2B;
  border-radius: 10px;
  color: #9295A0;
}

.input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #FFFFFF;
  width: 86%;
}


.bridge-connect {
  border: none;
  outline: none;
  height: 39px;
  width: 138px;
  border-radius: 5px;
  background-color: #6A38FE;
  color: #FFFFFF;
  text-align: center;
  /* padding-left: 10px;*/
}


.from {
  width: 95%;
}


.top-layer {
color: #9295A0;
margin-bottom: 5px;
}


.header {
  color: #9295A0; 
}


.icon-swap {
  align-self: center;
  color: #6A38FE;
}








@media screen and (max-width: 859px) {


.contain-menuMobile {
  height: 200px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: #fff;
  margin-left: 5px;
  border-radius: 5px;
  padding-top: 20px;
  position: absolute;
  z-index: 999;
}


.menuIcon{
  position: absolute;
  top: 6%;
}




.mobile-grid {
  position: absolute;
  background: #D7D7D7;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #fff;
  width: 324px;
  height: 500px;
  z-index: 22;
}

}



@media screen and (max-width: 897px) {
  .inputCover2 {
      background: #D7D7D7;
      width: 75%;
      height: 41px;
      display: flex;
      justify-content: flex-end;
      border-radius: 5px;
  }
}




@media screen and (max-width: 897px) {

  .inputCover2 {
      background: #D7D7D7;
      width: 94%;
      height: 41px;
      display: flex;
      justify-content: flex-end;
      border-radius: 5px;
  }


  .otherinfocontainer {
    display: flex;
    justify-content: space-between;
    width: 52%;
    align-items: center;
    font-size: 9px;
    /* margin-right: 31px; */
    margin-right: 0px;
    padding-right: 0px;
  }




  .otherinfocontainer-two {
    display: flex;
    justify-content: space-between;
    width: 52%;
    align-items: center;
    font-size: 9px;
    /* margin-right: 31px; */
    padding-left: 34px;
    padding-right: 0px;
  }




}



@media screen and (max-width: 400px) {

  .loginForm1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 81%;
      border-radius: 15px;
      padding: 20px;
      gap: 10px;
      height: 300px;
      position: relative;
      font-family: 'Space Grotesk', sans-serif;
      background: linear-gradient(116.29deg, rgba(255, 255, 255, 0.35) -29.94%, rgba(255, 255, 255, 0.26) -29.93%, rgba( 255,255, 255, 0.1) 101.76%);
      box-shadow: inset 4px 4px 4px rgb(255 255 255 / 15%), inset -4px -4px 4px rgb(245 245 245 / 11%);
  }



  .inputCover1 {
      background: #fff;
      width: 85%;
      height: 41px;
      display: flex;
      justify-content: flex-end;
      border-radius: 5px;
  }








/* working on media responsiveness for mobile 400px below */
.otherinfocontainer {
  display: flex;
  justify-content: space-between;
  width: 52%;
  align-items: center;
  font-size: 6px;
  /* margin-right: 31px; */
  margin-left: 30px;
  padding-right: 0px;
}




.otherinfocontainer-two {
  display: flex;
  justify-content: space-between;
  width: 64%;
  align-items: center;
  font-size: 9px;
  margin-left: 0px;
  padding-right: 4px;
  padding-left: 45px;
}





}



@media screen and (max-width: 676px) {

  .second-contain {
    flex-direction: column;
    grid-gap: 10px;
    gap: 10px;
}

}






@media (max-width:550px) {
 
  .App-side-Right {
    width: 100%;
    border-left: 1px solid #3b3741;
    color: #fff;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 85vh; 
    padding: 15px 9.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  




.header-welcome h1 {
  font-size: 22px;
}



.header-welcome p {
  font-size: 12px;
}




.header-welcome .button {
  font-size: 12px;
}




.listed-tokens .listed-tokens-hold {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
  height: 40vh;
  overflow-y: scroll;
  padding: 5px;
}





.more-container, .more-container-admintwo {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  gap: 20px;
  font-size: 12px;
  overflow-y: scroll;
}




.contains_toknes-and-votes p {
  margin: 0;
}




.header-welcome {
  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
  /* padding-left: 13px; */
  margin-bottom: 20px;
}



.token-sale {
  font-size: 20px;
}




.head-seperate {
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.head-seperate p {
  margin: 0px;
}




.listed-tokens .listed-tokens-hold {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  grid-gap: 10px;
  gap: 10px;
  height: 40vh;
  overflow-y: scroll;
  padding: 5px;
}





.listed-tokens {
  margin-top: 10px;
  padding: 5px;
  background-color: #191320;
  border-radius: 10px;
}



.contains_toknes-and-votes {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
}



.ourlisted {
  margin-top: 14px;
  margin-bottom: 30px;
}




.infofix {
  font-size: 19px;
  margin: 0px;
}






.other-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 0px; */
}




.header-welcome-options {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: center;
}




.otherinfocontainer-two {
  display: flex;
  justify-content: space-between;
  width: 64%;
  align-items: center;
  font-size: 9px;
  margin-left: 0px;
  padding-right: 10px;
  padding-left: 32px;
}




#inside-inside-div .avatars {
  display: flex;
  align-items: center;
  margin-right: 6px;
}



.otherinfocontainer {
  display: flex;
  justify-content: space-between;
  width: 52%;
  align-items: center;
  font-size: 6px;
  /* margin-right: 31px; */
  margin-left: 17px;
  padding: 0px 12px;
}





}









@media(max-width:767px) {

  .launching_tokens {
    width: 100%;
    padding: 75px;
  }


  .button-create{
    display: none;
  }

  .button-auction{
    display: none;
  }



}




@media(max-width:550px) {

  .second-contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


  .timer-container {
    display: flex;
    width: 100%;
  }
  
}





@media screen and (max-width: 951px) { 

  .second-contain {
      width: 100%;
  }

  .ama-vote {
    display: flex;
    align-self: center;
  }


}






@media screen and (max-width: 827px) {

  .token-body-section {
      display: flex;
      margin-top: 35px;
      flex-direction: column;
      justify-content: space-evenly;
      justify-content: center;
      align-items: center;
      gap: 0px;
  }



  .right-section {
    padding: 13px;
    display: flex;
    flex-direction: column;
    grid-gap: 53px;
    gap: 14px;
    width: 77%;
  }


  .right-section {
    padding: 13px;
    display: flex;
    flex-direction: column;
    grid-gap: 53px;
    gap: 14px;
    width: 77%;
  }



  .right-section .launched-date {
    background: #191320;
    display: flex;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    /* width: 175px; */
  }






}
